@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
	font-family: 'Nunito', sans-serif;
	color: #13628E;
	padding: .5em 2em;
}
a, a:visited {
	color: #4EBF7A;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
table {
	margin: 2em;
	border-spacing: 0px;
}

td {
	border: 1px solid #000000;
	border-width: 1px 0px 0px 0px;
	margin: 0px;
	padding: .2em 2em;
}
td.number {
	text-align: right;
}
tr.total td {
	font-weight: bold;
}
.suspended {
	text-decoration: line-through;
}
.problem {
	color: #A00000;
}
.good {
	color: #13628E;
}
.max_status_plenty, .max_status_onlyjust, .max_status_toolittle {
	border: 1px solid green;
	border-width: 2px 1em 2px 1em;
	border-radius: 3px;
	padding: .2em;
	margin: .5em;
}
.max_status_onlyjust {
	border-color: #FFAA00;
}
.max_status_toolittle {
	border-color: #A00000;
}
.header {
	border-bottom: 1px solid #cccccc;
	padding: 1em;
	text-align: right;
}
.actionBox {
	display: none;
	border: 1px solid #000000;
	padding: 0 1em 1em 1em;
}
