// Given a height, set grid style
=grid($h)
    .grid
        position: absolute
        top: 0
        left: 0
        right: 0
        height: $h
        +bg("grid.png")
        background-position: top center
        background-repeat: repeat-y
        z-index: 9999
        transition: all 0.5s ease-out 1s
    .hidden
        display: visible
        display: none
