---
title: Log In
layout: auth
permalink: /auth/login/
---


<h1>Log in to Snowdrift.coop</h1>

<form method="post" enctype="{{site.data.main.enctype}}">
    {{"login" | loginfields}}
    <a class="forgot-pass" href="{{site.url}}/auth/reset-passphrase">Forgot your passphrase?</a>
    {{"Log In" | bigbutton}}
</form>

<p class="sign-up">
    Don't have an account?
    <a href="{{site.url}}/auth/signup">Sign up!</a>
</p>
