---
title: Reset Passphrase
layout: auth
permalink: /auth/reset-passphrase/
---

<h1>Reset passphrase</h1>

<p>You forgot your passphrase? Enter your email and a <strong><em>new</em></strong> passphrase, and we will set you up.</p>

<form method="post" enctype="{{site.data.main.enctype}}">
    {{"login" | loginfields}}
    {{"Reset" | bigbutton}}
</form>
