---
title: Create Account
layout: auth
permalink: /auth/signup/
---

<h1>Welcome to Snowdrift.coop!</h1>

<p>
    By signing up, you agree to our
    <a href="{{site.url}}/terms">Terms of Use</a> and
    <a href="{{site.url}}/privacy">Privacy Policy</a>.
</p>

<form method="post" enctype="{{site.data.main.enctype}}">
    {{"login" | loginfields}}
    {{"Sign up!" | bigbutton}}
</form>

<p class="log-in">
    Already have an account?
    <a href="{{site.url}}/auth/login">Log in!</a>
</p>
