---
title: Verify account
layout: auth
permalink: /auth/verify-account/
---

<h1>Verify account</h1>

<p>Please verify your account by entering the token you received in your
email.</p>

<form method="post" enctype="{{site.data.main.enctype}}">
    {{"token" | tokenfield}}
    {{"Verify" | bigbutton}}
</form>
