.auth
    background-color: lighten($bright-blue, 8%)

    .auth-box
        width: 39rem
        margin: 10vw auto 0

        .logo
            display: block
            text-align: center
            height: 6.9rem
            width: 6.5rem
            margin: 0 auto 4.5rem

        h1
            font-weight: 300
            font-size: 2.5rem
            margin: 1.5rem auto 2rem
            text-align: center
            padding: 0

        form
            border: 0.1rem solid lighten($dark-blue, 63%)
            background-color: $white
            padding: 3rem
            border-radius: 0.4rem

            input
                box-sizing: border-box
                border-color: lighten($dark-blue, 50%)
                height: 4.5rem
                margin-bottom: 1.5rem
                width: 100%
                padding: 0 1rem

            .forgot-pass
                display: block
                text-align: right
                font-size: 1.6rem
                margin-top: -1rem

            .bigbutton
                margin-bottom: 0

            button
                +button-sml($white,$green, $green-shade)
                margin-top: 3rem
                width: 100%

        p
            margin: 0 1rem 3rem
            font-size: 1.6rem

        p.sign-up, p.log-in
            border: 0.1rem solid lighten($dark-blue, 60%)
            margin: 3rem 0 0
            background-color: $white
            font-size: 1.6rem
            padding: 1.5rem 3rem
            text-align: center
            border-radius: 0.4rem
