// Typography --------------------------------------------------------------//

html
    font-size: 62.5%
    // font-size: 1.25vw
    font-family: Rubik, sans-serif

h1, h2, h3, h4, h5, h6
    font-weight: 600

// Page title
h1
    font-size: 3.5rem
    line-height: 1
    margin: 4.5rem 0 1.5rem
    padding-left: 3rem

// Headline
h2
    font-size: 2.4rem
    margin: 4.5rem 0 1.5rem

// Subheading
h3
    font-size: 2.1rem
    margin: 2.1rem 0 1.5rem

// Footnote heading
h4
    font-size: 1.5rem
    margin: 3rem 0 1.5rem

// Notes
h6
    font-size: 1.3rem
    color: $bright-blue-text
    margin: 1.5rem 0

// Body
body
    font-size: 2rem
    font-weight: lighter
    // font-weight: 400
    line-height: 1.5
    color: $dark-blue

// Links
a
    font-weight: 400
    color: $green-shade
    text-decoration: none
a:visited
    color: $green-shade
a:hover, a:active, a:focus
    color: $dark-blue
    outline: 0

// Preformatted text
pre
    font-size: 1.5rem
    white-space: pre-wrap
    word-wrap: break-word

// Footnotes
.footnotes
    font-size: 1.5rem
    hr
        margin: 4.5rem 0 3rem
.footnoteRef
    font-size: 1.5rem
    sup
        font-size: 1.25rem
        font-weight: 600
        vertical-align: super

// Form input
form input[type=text], form input[type=password]
    font-size: 1.8rem
    color: $dark-blue


// Layout ------------------------------------------------------------------//

*, *:before, *:after
    box-sizing: inherit

html
    box-sizing: border-box
    overflow-y: scroll
    overflow-x: hidden

body
    background: $white

*::selection
    color: $white
    background: $dark-blue
    text-shadow: none

*::-moz-selection
    color: $white
    background: $dark-blue
    text-shadow: none

p
    margin: 1.5rem 0 3rem

a
    transition: all 0.12s ease-out 0s

em
    font-style: italic

strong
    font-weight: 600

hr
    height: 0.2rem
    margin: 4.5rem 0
    border: 0
    border-radius: 0.3rem
    background: $bright-blue

img
    max-width: 100%
    height: auto

table
    margin: 3rem 0
tr:nth-child(2n)
    background: $gray-table-row
th
    border-bottom: 0.1rem solid $dark-blue
    padding: 1rem 2rem
    font-weight: 600
td
    padding: 1rem 2rem

#tilt
    position: relative
    clear: both
    height: 6rem
    margin: 0 0 6rem
    text-align: center
    z-index: -1

    &:after
        content: ' '
        position: absolute
        height: 60rem
        width: 100vw
        bottom: 3rem
        background-image: linear-gradient($blue-header 30rem, $blue-header-light 60rem)
        transform:  translate(-50vw) skewY(-3deg)

.container
    +with-layout($lt-main, true)
        +container
    // Padding for smaller screen widths
    padding: 0 3rem

    .section
        margin-top: 3rem
        margin-bottom: 1.5rem
        clear: both

    h1
        margin: 9rem 0 6rem

        // page headline subtitle
        span
            font-size: 2rem
            font-weight: 300


    em.version
        color: $bright-blue-text
        font-weight: 300
        font-size: 2rem
        display: block
        margin: 0 0 4.5rem
        text-align: center

    ul
        list-style: outside disc
        margin: 1.5rem 0 4.5rem 3rem
    li, li p
        margin: 1rem 0
    ul li ul
        margin: 0 0 0 3rem

    ol
        list-style-type: decimal
        margin: 1.5rem 3rem 4.5rem 3rem

    form label
        color: $bright-blue-text
        display: block

    form input[type=text], form input[type=password]
        background-color: $white
        border: 0.1rem solid $dark-blue
        border-radius: 0.3rem
        padding: 0.5rem 0.3rem 0.3rem
        margin-bottom: 1.5rem

    video
        max-width: 100%

    .bigbutton
        +button-big($white)

    .smlbutton
        +button-sml($white, $green, $green-shade)
