/* Rubik Latin subset only */

// Light
@font-face
    font-family: "Rubik"
    font-style: normal
    font-weight: 300
    src: local('Rubik Light'), local('Rubik-Light'), url(rt("rubik/rubik-light.woff2", "font")) format("woff2"), url(rt("rubik/rubik-light.ttf", "font")) format("truetype")

// Light italic
@font-face
    font-family: "Rubik"
    font-style: italic
    font-weight: 300
    src: local('Rubik Light Italic'), local('Rubik-LightItalic'), url(rt("rubik/rubik-light-italic.woff2", "font")) format("woff2"), url(rt("rubik/rubik-light-italic.ttf", "font")) format("truetype")

// Regular
@font-face
    font-family: "Rubik"
    font-style: normal
    font-weight: 400
    src: local('Rubik'), local('Rubik-Regular'), url(rt("rubik/rubik-regular.woff2", "font")) format("woff2"), url(rt("rubik/rubik-regular.ttf", "font")) format("truetype")

// Regular italic
@font-face
    font-family: "Rubik"
    font-style: italic
    font-weight: 400
    src: local('Rubik Italic'), local('Rubik-Italic'), url(rt("rubik/rubik-regular-italic.woff2", "font")) format("woff2"), url(rt("rubik/rubik-regular-italic.ttf", "font")) format("truetype")

// Medium
@font-face
    font-family: "Rubik"
    font-style: normal
    font-weight: 600
    src: local('Rubik Medium'), local('Rubik-Medium'), url(rt("rubik/rubik-medium.woff2", "font")) format("woff2"), url(rt("rubik/rubik-medium.ttf", "font")) format("truetype")

// Medium italic
@font-face
    font-family: "Rubik"
    font-style: italic
    font-weight: 600
    src: local('Rubik Medium Italic'), local('Rubik-MediumItalic'), url(rt("rubik/rubik-medium-italic.woff2", "font")) format("woff2"), url(rt("rubik/rubik-medium-italic.ttf", "font")) format("truetype")


// Snowdrift-Icons
@font-face
    font-family: "sdicons"
    font-style: normal
    font-weight: 400
    src: url(rt("sdicons/sdicons.ttf", "font")) format("truetype")
