$susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: after,
    container: 75rem,
    container-position: center,
    columns: 8,
    gutters: 3rem/6rem,
    column-width: false,
    global-box-sizing: border-box,
    last-flow: to,
    debug: (
        image: show,
        color: rgba(0,255,255,0.5),
        toggle: bottom left,
    ),
    use-custom: (
        background-image: false,
        background-options: false,
        box-sizing: false,
        clearfix: false,
        rem: true,
    )
);


// Default template
$lt-main: (
    container: 75rem,
    columns: 8,
    gutters: 3rem/6rem,
    gutter-position: after,
    // debug: (
    //     image: hidden,
    //     color: rgba(0,255,255,0.5),
    //     toggle: bottom left,
    // )
);

$lt-footer-bottom: (
    container: 69rem,
    columns: 3,
    gutter-position: after,
);


// To be deprecated
$break0: 317px;
$break1: 318px;
$break2: 750px;
$break3: 1280px;


// Breakpoints
$breaks: (
    "0": "max-width: 317px",
    "1": "min-width: 318px",
    "2": "min-width: 750px",
    "3": "min-width: 1280px"
);

@mixin respond($b) {
    @media (#{map-get($breaks, $b)}) {
        @content;
    }
}
