// Helper functions, vendor prefixes ---------------------------------------//

// Given a filename/relative path and type, return static path
@function rt($p, $t)
    $path: "../"
    @if $t == "font"
        $path: $path + "fonts/"
    @if $t == "img"
        $path: $path + "img/"
    @if $t == "url"
        $path: "https://snowdrift.coop/"
    @return $path + $p


// Given an image filename, insert background css
=bg($p)
    background: url(rt($p, "img")) center center no-repeat


// Given column width and column count, set column properties
=columns($w, $c)
    columns: $w $c
    -moz-columns: $w $c
    -webkit-columns: $w $c


// Given a font size and variant, set font properties
// Variants: l, r, m, s (light, regular, medium, sdicons)
=font($s, $v)
    font-family: Rubik, sans-serif
    font-size: $s
    @if str-index($v, i) != null
        font-style: italic
    @if str-index($v, l) != null
        font-weight: 300
    @else if str-index($v, r) != null
        font-weight: 400
    @else if str-index($v, m) != null
        font-weight: 600
    @else if str-index($v, s) != null
        font-family: sdicons
    @else
        font-style: normal


// Common UI elements ------------------------------------------------------//

// Given text color, set big button style
// default green background and white text
=button-big($tc)
    +font(3rem, m)
    color: $tc
    text-shadow: 0.2rem 0.2rem 0 $blue-text-shadow
    background-color: $green-shade
    background-image: linear-gradient($green, $green-shade)
    cursor: pointer
    display: table
    position: relative
    width: auto
    margin: 0rem auto 3rem
    padding: 1.1rem 4.5rem 1.4rem
    border: 0
    border-radius: 2.7rem/4.7rem
    transition: all 0.12s ease-out
    &:hover
        color: $tc
        padding: 1.1rem 3.5rem 1.4rem
        text-shadow: 0.1rem 0.1rem 0 $blue-text-shadow, 0rem 0rem 1rem $white-text-shadow

// Given text color and 2 background gradient colors, set medium button style
=button-med($tc, $bc1, $bc2)
    +button-big($tc)
    text-shadow: 0.2rem 0.2rem 0 darken($bc2, 5%)
    +font(2.4rem, m)
    background-color: $bc2
    background-image: linear-gradient($bc1, $bc2)
    padding: 1rem 2rem
    &:hover
        padding: 1rem 1.5rem

// smaller button
=button-sml($tc, $bc1, $bc2)
    +button-med($tc, $bc1, $bc2)
    +font(2rem, m)
    background-color: $bc2
    background-image: linear-gradient($bc1, $bc2)
    border-radius: 1.7rem/4.7rem
    padding: 1rem 2rem
    width: auto
    &:hover
        padding: 1rem 2rem


// Given border color and background color, set box style
// with wire border and rounded corners
=box-border($bdc, $bgc)
    +span(8 of 8 last)
    background: $bgc
    border: 0.3rem solid $bdc
    border-radius: 0.3rem


// Variant of box-border with tilt header and thicker bottom border
// Used in dashboard
=box-border-tilt($bdc, $bgc)
    +box-border($bdc, $bgc)
    border-bottom: 1.5rem solid $bdc
    header
        background: $bright-blue
        +tilt(-3deg)
    .sum
        color: $bdc
        background: $bgc
        padding: 1rem 1.5rem
        border-bottom: 1.5rem solid $bdc
        float: right
