.donate

    img, input
        display: block
        margin: 6rem auto

    #bitcoin-donate

        pre
            margin: 0 0 0 6rem

    .thank-you
        text-align: center
        font-weight: 300
        font-size: 2.5rem
        color: $bright-blue-text
