.how-it-works

    h1
        margin-bottom: 15rem

    .limit, .matching
        margin: 0 auto

    img.matching
        margin-top: -18rem

    .intro
        +span(8)
        +bg("how-it-works/logo-bg.png")
        height: 47rem
        position: relative
        margin: 6rem auto

        p
            position: absolute
            font-size: 2rem

            &:before
                +bg("me-sprite.png")
                width: 24rem
                height: 24rem
                content: ' '
                position: absolute
                background-position: 0 0

        p.intro-match
            top: 6rem
            margin: 0 0 0 32rem

            &:before
                left: -22rem
                top: -8rem
                background-position: 0 0

        p.intro-limit
            margin-right: 36rem
            top: 26rem
            left: 6rem

            &:before
                right: -22rem
                top: -9rem
                background-position: -24rem -24rem

    span
        bottom: -1.3rem

    .learn-more
        display: block
        text-align: center
        margin: 0 auto 1rem
        font-weight: 600

    .smlbutton
        +button-sml($white, $green, $green-shade)
        width: 33rem

@media (max-width: 749px)

    .how-it-works

        .intro
            background-size: contain !important
            padding: 0 !important

            p
                width: 100% !important
                top: unset !important

                &:before, &:after
                    display: none

                &:first-child
                    margin: 0 auto 3rem !important
                    float: unset !important

                &:last-child
                    margin: 0 auto 3rem !important
                    float: unset !important

        .bigbutton
            padding: 1.3rem 2rem 1.2rem

            &:hover
                padding: 1.3rem 1.5rem 1.2rem
