.project

    // Project Cover
    .cover
        height: 27vw

        img
            height: 27vw
            width: 100%
            position: absolute
            left: 0
            z-index: -2

        &:after
            content: ' '
            position: absolute
            width: 100vw
            height: 6vw
            left: 0
            top: 24vw
            margin-top: 6rem
            transform: skewY(3deg)
            background-color: $white
            z-index: -1

    // Project Title
    h1
        padding: 0
        margin: 0 0 3rem

        .icon
            margin: -1rem 3rem -1rem 0
            width: 6rem
            height: auto
            float: left

    // Project Stats
    .stats
        margin: -1rem 0 3rem
        position: relative

        .crowd
            +push(1)
            +span(2)

            h2
                padding-left: 3.2rem
                +bg("project/icon-matching-crowd.png")
                background-position: left center

        .value
            +span(2)

            h2
                padding-left: 1.5rem
                +bg("project/icon-current-match.png")
                background-position: left center

        .payout
            +span(3)
            +last

            h2
                padding-left: 3.2rem
                +bg("project/icon-monthly-payout.png")
                background-position: left center

        div
            p
                color: $bright-blue-text
                transition: color 0.2s ease-in

        div:hover
            p
                color: $dark-blue

        h2
            margin: 0
            font-size: 3rem
            font-weight: 300
        p
            color: $bright-blue-text
            margin: -1rem 0 0 0

    // Project Form
    form.match
        +span(12 of 25)
        +push(1)
        padding: 1.5rem 0 1.5rem 9rem
        position: relative
        margin-top: 6rem
        margin-bottom: 3rem

        //a,b animate crowdmatching
        .a, .b
            position: absolute
            height: 9rem
            width: 15rem
            bottom: 0
            left: 0
            background: url("../img/project/crowdmatch_hover.png") no-repeat -15rem bottom
            transition: height 0.2s ease-in
            z-index: 1

        .b
            background-position: 0 bottom
            height: 0
            z-index: 2

        button:hover + .b, button:active + .b
            height: 9rem

        button
            +button-big($gold)
            z-index: 4
            left: 6rem
            margin: 0 auto

        a
            vertical-align: center
            font-weight: 600
            line-height: 1
            position: absolute
            left: 39rem
            top: 2.8rem
            width: 12rem
            font-size: 2rem

    // Project Description
    .description
        clear: both
        padding: 3rem 0
        +span(7)
        +push(1)

    // Project Updates
    h3
        font-size: 3.5rem
        font-weight: 300
        margin: 0 0 3rem 0
        color: $bright-blue-text
        +push(1)
        +span(7)
        +last


    article

        time
            +span(1)
            text-align: center
            border: 0.2rem solid $bright-blue
            border-radius: 0.4rem
            background-color: $bright-blue
            text-transform: uppercase
            margin-top: 0.5rem

            .year
                font-size: 1rem
                background-color: $white
                color: $bright-blue-text
                letter-spacing: 0.1rem
                font-weight: 400

            .month
                margin: 0 0 0.7rem 0

            .day
                background-color: $white
                font-size: 3.2rem
                position: relative
                font-weight: 300
                line-height: 1
                padding: 0.2rem 0
                z-index: 2

                &:before
                    background-color: $white
                    content: ' '
                    position: absolute
                    height: 1rem
                    width: 100%
                    left: 0
                    transform: skewY(3deg)
                    top: -0.5rem
                    background-color: &white
                    z-index: 1

        .post
            +span(7)
            +last
            margin: 0 0 3rem

            h4
                margin: 0
                padding: 0
                font-size: 2rem
