.welcome

    #tilt
        margin-top: 21rem

    .logo-big
        height: 11.5rem
        background: url(rt("welcome/logo-big.png", "img")) center center / contain no-repeat
        margin: 9rem auto 0

    // placeholder
    video
        border-radius: 0.4rem
        margin: -27rem auto 6rem
        z-index: 99
        outline: 0

    .container-footer
        +bg("me-sprite.png")
        width: 48rem
        height: 24rem
        content: ' '
        background-position: -48rem 0
        margin: 6rem auto 0

    .smlbutton
        +button-sml($white, $green, $green-shade)
        min-width: 33rem



@media (min-width: $break1)
    .welcome
        .section .col
            width: 100%
            margin: 0


@media (min-width: $break2)
    .welcome
        .section .col
            +span(6 of 8)
            width: unset
            float: unset !important
            margin: 0 9rem
