<footer>
    <!-- footer sec 1/3 -->
    <div class="section footer-logo">
        <!--<div class="col">-->
        <a class="logo" href="{{site.url}}">
            <img src="{{site.url}}/static/img/logo.png" alt="{{site.title}}">
        </a>
        <!--</div>-->
    </div>


    <!-- footer sec 2/3 -->
    <div class="section nav">
        <ul class="col">
            <li><a href="{{site.url}}/how-it-works">How it works</a></li>
            <li><a href="{{site.url}}/donate">Donate</a></li>
            <li><a href="{{site.url}}/about">About</a></li>
            <li><a href="{{site.url}}/sponsors">Our Sponsors</a></li>
            <!-- only for development purposes: -->
            <li>-> <a href="{{site.url}}/dashboard">DASHBOARD</a></li>
            <li>-> <a href="{{site.url}}/p/snowdrift">PROJECT</a></li>
        </ul>

        <ul class="col">
            <li><a href="{{site.url}}/privacy">Privacy Policy</a></li>
            <li><a href="{{site.url}}/terms">Terms Of Use</a></li>
        </ul>

        <ul class="col">
        <li><p>Aside from <a href="{{site.url}}/trademarks">trademarks</a>, writings and images here are free to use and share under <a rel="license" title="Creative Commons Attribution Share-Alike 4.0 International" href="https://creativecommons.org/licenses/by-sa/4.0">CC&nbsp;BY-SA</a>. This site's <a href="https://git.snowdrift.coop/sd/snowdrift">source code</a>
is free under the terms of the <a rel="license" title="GNU Affero GPL v3 or
later" href="https://www.gnu.org/licenses/agpl">GNU&nbsp;AGPLv3+</a>. <!--All
JavaScript on this site is <a href="{{site.url}}/js-licenses"
rel="jslicense">freely-licensed</a>.--></p></li>
        </ul>
    </div>

    <!-- footer sec 3/3 -->
    <div class="section supporters">
        <span>proud partners of</span>
        <ul class="bg">
            <li class="col"><a class="osi" href="https://opensource.org/">Open Source Initiative</a></li>
            <li class="col"><a class="qco" href="http://questioncopyright.org/">QuestionCopyright.org</a></li>
            <li class="col"><a class="oin" href="https://www.openinventionnetwork.com">Open Invention Network</a></li>
        </ul>
    </div>
</footer>
