<head>
    <link rel="apple-touch-icon-precomposed" href="{{site.url}}/static/img/favicon-512.png">
    <meta charset="UTF-8">
    <title>{{page.title}} | {{site.title}}</title>
    <meta name="author" content="{{site.title}}"> <meta name="viewport"
    content="width=device-width, minimum-scale=1.0, initial-scale=1.0,
    maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{site.url}}/{{site.sass.sass_dir}}/main.css">
</head>
