<nav>
    <div class="center">
        <ul>
            <li>
                <a class="logo" href="{{site.url}}">
                    <img src="{{site.url}}/static/img/logo-small.png" alt="{{site.title}}">
                </a>
            </li>
        </ul>
        <ul>
            <!--<li><a class="icon cards"
                    href="{{site.url}}/p">Browse</a></li>-->
            <li>
                <a class="no-icon" href="{{site.url}}/how-it-works">How it works</a>
            </li>
            <li>
                <a class="no-icon" href="{{site.url}}/about">About</a>
            </li>
        </ul>
        <ul>
            <!-- <li>
                <a class="icon dashboard" href="{{site.url}}/dashboard">Username</a>
            </li> -->
            <li>
                <a class="icon login" href="{{site.url}}/auth/login">Log In</a>
            </li>
        </ul>
    </div>
</nav>
