 *{margin:0;padding:0;box-sizing:border-box}html{overflow-x:hidden}



@media (max-width:317px){
 
 html{
 font-size:56.25%}
 
 .main-header{
 margin:0 3rem;
 text-align:center}
 
 .logo--big{
 width:100%;
 max-width:54.4rem}
 
 .content{
 margin:0 auto;
 padding:3rem 3rem 6rem}
 
 .logo--big{
 margin:6rem auto;
 margin:10vw auto}
 
 .header--tilt{
 background-image:url("../img/header-bg.png");
 background-size:cover;
 width:100%;
 padding:0 0 40% 0;
 position:absolute;
 top:0;
 left:0;
 z-index:-2}
 @supports (background-image:linear-gradient(#c5f1fd 30rem,#f0fbfe 60rem)){
 .header--tilt{
 
 background-image:unset;
 background-size:unset;
 width:unset;
 padding:unset;
 position:unset;
 top:unset;
 left:unset;
 z-index:unset;
 
 position:relative;
 clear:both;
 margin:0 0 6rem;
 z-index:-1;
 text-align:center}
 .header--tilt:after{
 content:' ';
 position:absolute;
 width:100vw;
 height:60rem;
 bottom:-1.5rem;
 transform:skewY(-3deg);
 z-index:-1}
 .header--tilt:after{
 background-image:linear-gradient(#c5f1fd 30rem,#f0fbfe 60rem);
 transform:translate(-50vw) skewY(-3deg)}}}

@media (min-width:318px) and (max-width:573px){
 
 html{
 font-size:62.5%}
 
 .main-header{
 margin:0 3rem;
 text-align:center}
 
 .logo--big{
 width:100%;
 max-width:54.4rem}
 
 .content{
 margin:0 auto;
 padding:3rem 3rem 6rem}
 
 .logo--big{
 margin:6rem auto;
 margin:10vw auto}
 
 .header--tilt{
 background-image:url("../img/header-bg.png");
 background-size:cover;
 width:100%;
 padding:0 0 40% 0;
 position:absolute;
 top:0;
 left:0;
 z-index:-2}
 @supports (background-image:linear-gradient(#c5f1fd 30rem,#f0fbfe 60rem)){
 .header--tilt{
 
 background-image:unset;
 background-size:unset;
 width:unset;
 padding:unset;
 position:unset;
 top:unset;
 left:unset;
 z-index:unset;
 
 position:relative;
 clear:both;
 margin:0 0 6rem;
 z-index:-1;
 text-align:center}
 .header--tilt:after{
 content:' ';
 position:absolute;
 width:100vw;
 height:60rem;
 bottom:-1.5rem;
 transform:skewY(-3deg);
 z-index:-1}
 .header--tilt:after{
 background-image:linear-gradient(#c5f1fd 30rem,#f0fbfe 60rem);
 transform:translate(-50vw) skewY(-3deg)}}}

@media (min-width:574px) and (max-width:810px){
 html{
 font-size:62.5%}
 
 .main-header{
 margin:0 3rem;
 text-align:center}
 
 .logo--big{
 width:100%;
 max-width:54.4rem}
 
 .content{
 margin:0 auto;
 padding:3rem 3rem 6rem}
 .main-header{
 margin:0 3rem 7.5rem;
}
 @supports (background-image:linear-gradient(#c5f1fd 30rem,#f0fbfe 60rem)){
 .main-header{
 margin:0 3rem}}
 
 .logo--big{
 margin:6rem auto}
 
 .header--tilt{
 background-image:url("../img/header-bg.png");
 background-size:cover;
 width:100%;
 padding:0 0 27rem 0;
 position:absolute;
 top:0;
 left:0;
 z-index:-2}
 @supports (background-image:linear-gradient(#c5f1fd 30rem,#f0fbfe 60rem)){
 .header--tilt{
 
 background-image:unset;
 background-size:unset;
 width:unset;
 padding:unset;
 position:unset;
 top:unset;
 left:unset;
 z-index:unset;
 
 position:relative;
 clear:both;
 margin:0 0 6rem;
 z-index:-1;
 text-align:center}
 .header--tilt:after{
 content:' ';
 position:absolute;
 width:100vw;
 height:60rem;
 bottom:-1.5rem;
 transform:skewY(-3deg);
 z-index:-1}
 .header--tilt:after{
 background-image:linear-gradient(#c5f1fd 30rem,#f0fbfe 60rem);
 transform:translate(-50vw) skewY(-3deg)}}}

@media (min-width:811px){
 html{
 font-size:62.5%}
 
 .main-header{
 margin:0 3rem;
 text-align:center}
 
 .logo--big{
 width:100%;
 max-width:54.4rem}
 
 .content{
 margin:0 auto;
 padding:3rem 3rem 6rem}
 .main-header{
 margin:0 3rem 7.5rem;
}
 @supports (background-image:linear-gradient(#c5f1fd 30rem,#f0fbfe 60rem)){
 .main-header{
 margin:0 3rem}}
 
 .logo--big{
 margin:6rem auto}
 
 .header--tilt{
 background-image:url("../img/header-bg.png");
 background-size:cover;
 width:100%;
 padding:0 0 27rem 0;
 position:absolute;
 top:0;
 left:0;
 z-index:-2}
 @supports (background-image:linear-gradient(#c5f1fd 30rem,#f0fbfe 60rem)){
 .header--tilt{
 
 background-image:unset;
 background-size:unset;
 width:unset;
 padding:unset;
 position:unset;
 top:unset;
 left:unset;
 z-index:unset;
 
 position:relative;
 clear:both;
 margin:0 0 6rem;
 z-index:-1;
 text-align:center}
 .header--tilt:after{
 content:' ';
 position:absolute;
 width:100vw;
 height:60rem;
 bottom:-1.5rem;
 transform:skewY(-3deg);
 z-index:-1}
 .header--tilt:after{
 background-image:linear-gradient(#c5f1fd 30rem,#f0fbfe 60rem);
 transform:translate(-50vw) skewY(-3deg)}}}


@font-face{
 font-family:"Nunito";
 font-style:normal;
 font-weight:300;
 src:local("Nunito Light"),url("../font/nunito-light.woff2") format("woff2"),url("../font/nunito-light.woff") format("woff")}

@font-face{
 font-family:"Nunito";
 font-style:normal;
 font-weight:400;
 src:local("Nunito Regular"),url("../font/nunito-regular.woff2") format("woff2"),url("../font/nunito-regular.woff") format("woff")}

@font-face{
 font-family:"Nunito";
 font-style:normal;
 font-weight:700;
 src:local("Nunito Bold"),url("../font/nunito-bold.woff2") format("woff2"),url("../font/nunito-bold.woff") format("woff")}

.content{
 max-width:75rem}
 .content h1{
 font-family:Nunito,sans-serif;
 line-height:3rem;
 color:#13628e;
 font-weight:700;
 font-size:3.7rem;
 line-height:1;
 text-align:center;
 margin:0 auto 3rem auto}
 .content h2{
 font-family:Nunito,sans-serif;
 line-height:3rem;
 color:#13628e;
 font-weight:700;
 font-size:2.9rem;
 margin:6rem 0 3rem}
 .content h3{
 font-family:Nunito,sans-serif;
 line-height:3rem;
 color:#13628e;
 font-weight:300;
 font-size:2.1rem;
 font-weight:700;
 margin:3rem 0 1rem}
 .content p a,.content ul a{
 font-family:Nunito,sans-serif;
 line-height:3rem;
 color:#13628e;
 font-weight:400;
 font-size:2.1rem;
 color:#44a76b;
 text-decoration:none;
 cursor:pointer;
 transition:all 0.15s ease-in 0s}
 .content p a:hover,.content p a:active,.content p a:focus,.content ul a:hover,.content ul a:active,.content ul a:focus{
 color:#378756}
 .content p a:visited,.content ul a:visited{
 color:#388a58}
 .content p,.content ul{
 font-family:Nunito,sans-serif;
 line-height:3rem;
 color:#13628e;
 font-weight:300;
 font-size:2.1rem}
 .content p{
 margin:3rem 0}
 .content ul{
 list-style-position:outside;
 margin:1rem 0 3rem 2.1rem}
 .content ul li{
 margin:0 0 0.6rem 0}
 .content code{
 color:#13628e;
 font-size:1.7rem}


.text{
 display:block;
 margin:3rem 0}


.text-label,.text-label--js{
 font-family:Nunito,sans-serif;
 line-height:3rem;
 color:#13628e;
 font-weight:300;
 font-size:2.1rem;
 display:block}


.text-tip{
 font:700 1.7rem/3rem Nunito,sans-serif;
 color:#47cfec}


.text-label--js{
 width:16rem;
 padding:0 0 0.2rem 0;
 border-bottom:0.3rem solid #4ebf7a;
 border-radius:0.3rem;
 text-align:center;
 cursor:help}


.text-tip--js{
 font-family:Nunito,sans-serif;
 line-height:3rem;
 color:#13628e;
 font-weight:300;
 font-size:2.1rem;
 font-size:1.7rem;
 color:#16b0d1;
 background:#def7fe;
 margin:0 0 0.6rem 0;
 padding:0.3rem 1rem;
 border:0;
 border-radius:0.3rem;
 display:none;
 z-index:-1}
 .text-tip--js.text-tip--touch{
 display:block;
 z-index:5;
 position:absolute;
 margin:-4.5rem 0 0 0}


.text-tip__close{
 display:none;
 font-size:1.7rem;
 font-weight:700;
 margin:0 1.2rem 0 0;
 position:relative;
 top:-0.1rem}


.link{
 display:block;
 margin:3rem 0}


.link-label,.link-label--js{
 font-family:Nunito,sans-serif;
 line-height:3rem;
 color:#13628e;
 font-weight:400;
 font-size:2.1rem;
 color:#44a76b;
 text-decoration:none;
 cursor:pointer;
 transition:all 0.15s ease-in 0s;
 width:18rem;
 display:block}
 .link-label:hover,.link-label:active,.link-label:focus,.link-label--js:hover,.link-label--js:active,.link-label--js:focus{
 color:#378756}
 .link-label:visited,.link-label--js:visited{
 color:#388a58}


.link-tip{
 font:700 1.7rem/3rem Nunito,sans-serif;
 color:#47cfec}


.link-label--js{
 padding:0 0 0.2rem 0}


.link-tip--js{
 font-family:Nunito,sans-serif;
 line-height:3rem;
 color:#13628e;
 font-weight:300;
 font-size:2.1rem;
 font-size:1.7rem;
 color:#16b0d1;
 background:#def7fe;
 margin:0 0 0.6rem 0;
 padding:0.3rem 1rem;
 border:0;
 border-radius:0.3rem;
 display:none;
 z-index:-1}
 .link-tip--js.link-tip--touch{
 display:block;
 z-index:5;
 position:absolute;
 margin:-4.5rem 0 0 0}

.link-tip__info{
 font-size:1.5rem;
 font-weight:400;
 margin:0 0.6rem 0 0}
