<!doctype html>
<html class="no-js" lang="en">
    {% include head.html %}
<body class="auth">
    <div class="grid hidden"></div>

    {% assign container = page.slug %}
    {% assign container = "auth" %}

    <div class="container auth-box {{container}}">

        <a class="logo" href="{{site.url}}" >
            <img src="{{site.url}}/static/img/logo-bigger.png" alt="{{site.title}}">
        </a>

        {{content}}
    </div>

</body>
</html>
