<!doctype html>
<html class="no-js" lang="en">
    {% include head.html %}
<body>
    <div class="grid hidden"></div>
    {% include navbar.html %}

    {% assign container = page.slug %}
    {% if page.permalink contains "/p/" %}
        {% assign container = "project" %}
    {% elsif page.permalink contains "/auth/" %}
        {% assign container = "auth" %}
    {% endif %}

    <div class="container {{container}}">
    {{content}}
    </div>
    {% include footer.html %}
</body>
</html>
