---
title: Note
layout: default
permalink: /notes
---

<h1>Notes</h1>

<div id="tilt"></div>

<div class="note-success">
    <a href="#" class="close">x</a>
    <h2>Awesome!</h2>
    <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipisicing
    elit. Neque id facere <a href="#">mollitia</a>.</p>
</div>

<div class="note-button-info">
    <h2>By the way!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque id facere mollitia. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur.</p>
    <a href="#">Please follow this link</a>
</div>

<div class="note-button-warning">
    <a href="#" class="close">x</a>
    <h2>Oh! This did not work.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque id facere mollitia.</p>
    <a href="#">Please follow this link</a>
</div>

<div class="note-danger">
    <h2>Crap!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque id facere mollitia.</p>
</div>
