---
title: Snowdrift.coop
layout: default
permalink: /p/snowdrift-matched/
---

<!-- Project Cover -->
<div class="cover">
    <img src="/static/img/project/bg.jpg">
</div>

<!-- Project Title -->
<h1>
    <img class="icon" src="/static/img/favicon-152.png">{{site.data.project.title}}
</h1>

<!-- Project Stats -->
<div class="stats">
    <div class="crowd">
        <h2>{{site.data.project.matching_crowd}}</h2>
        <p>matching crowd</p>
    </div>
    <div class="value">
        <h2>{{site.data.project.current_match}}</h2>
        <p>current match</p>
    </div>
    <div class="payout">
        <h2>{{site.data.project.monthly_payout}}</h2>
        <p>monthly payout</p>
    </div>
</div>

<!-- notice matched -->
{% assign msg_matched = "Because of you a crowd of matching_crowd agrees to
match more. This is awesome!" | replace: "matching_crowd",
site.data.project.matching_crowd %}
{{"note-success" | note_form: "You are now matching this project!",
msg_matched, "unmatch", "unmatch"}}

<!-- Project Description -->
<p class="description">{{site.data.project.description}}</p>

<!-- Project Updates -->
<h3>Updates</h3>

{% for post in site.data.project.updates %}
<article class="section updates">
    <time datetime="{{post.date}}">
        <div class="month">{{post.date | date: "%b"}}</div>
        <div class="day">{{post.date | date: "%d"}}</div>
    </time>
    <div class="post">
        <h4>{{post.title}}</h4>
        <p>{{post.content}}</p>
    </div>
</article>
{% endfor %}
</section>
