---
title: Style Proof
layout: default
permalink: test
---

<!-- For development purposes only -->
<h1>Page Title (h1)</h1>

<div id="tilt"></div>

<p>In publishing and graphic design, <strong>lorem ipsum</strong> (derived from
Latin dolorem ipsum, translated as "pain itself") is a filler text commonly
used to demonstrate the graphic elements of a document or visual presentation.
Replacing meaningful content with placeholder text allows designers to design
the form of the content before the content itself has been produced.</p>

<p>The lorem ipsum text is typically a scrambled section of <em>De finibus
    bonorum et malorum</em>, a 1st-century BC Latin text by <a
    href="#">Cicero</a>, with words
altered, added, and removed to make it nonsensical, improper Latin.</p>

<h2>Headline (h2)</h2>

<ol class="toc">
    <li>Example text</li>
    <li>Discovery</li>
    <li>Latin source</li>
    <li>English translation</li>
    <li>Variations</li>
    <li>More items</li>
    <li>See also</li>
    <li>Notes</li>
    <li>References</li>
    <li>External links</li>
</ol>

<h3>Subheading (h3)</h3>

<p>A common form of <em>lorem ipsum</em> reads:</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<ul>
     <li>Item 1</li>
     <li>Item 2</li>
     <li>Item 3</li>
</ul>

<p>But I must explain to you how all this mistaken idea of denouncing of a
pleasure and praising pain was born and I will give you a complete account of
the system, and expound the actual teachings of the great explorer of the
truth, the master-builder of human happiness. No one rejects, dislikes, or
avoids pleasure itself, because it is pleasure, but because those who do not
know how to pursue pleasure rationally encounter consequences that are
extremely painful.</p>

<ul>
    <li>Item 1</li>
    <li><p>Item 2 with a p tag and nested list:</p>
        <ul>
            <li>Item 2a with no p tag</li>
            <li>Item 2b with no p tag</li>
            <li><p>Item 2c with 2 p tags and longer sentences. Sed ut
                perspiciatis, unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam eaque
            ipsa, quae ab illo inventore veritatis et quasi architecto beatae
            vitae dicta sunt, explicabo.</p>
                <p>Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem.</p></li>
            <li><p>Item 2d with a p tag and shorter sentence. At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p></li>
            <li>Item 2e</li>
        </ul>
    </li>
    <li>Item 3</li>
</ul>

<p>A variation of the ordinary lorem ipsum text has been used in typesetting
since the 1960s or earlier, when it was popularized by advertisements for
Letraset transfer sheets. It was introduced to the Information Age in the
mid-1980s by Aldus Corporation, which employed it in graphics and
word-processing templates for its desktop publishing program PageMaker.<a
    class="footnoteRef" href="#fn1" id="fnref1"><sup>1</sup></a></p>

<p>Today's popular version of Lorem ipsum was first created in the mid-1980s
for Aldus Corporation's desktop publishing program PageMaker. Aldus adapted
older forms of the lorem text from typography samples to use in PageMaker's
graphics and word processing templates.The information was first published
early in 1994 in a letter to the editor of <em>Before & After</em> magazine in
    volume 4 issue 1 of the publication, contesting the editor's earlier claim
    that lorem ipsum had no meaning.<a class="footnoteRef" href="#fn2"
        id="fnref2"><sup>2</sup></a></p>

<p>Nowadays a variety of software, including text and plug-ins, can generate
semi-random "lorem-like text", which often has little or nothing in common with
the canonical adaptations other than looking like (and often being) jumbled
Latin. Apple's Pages and Keynote software employ such jumbled text as sample
screenplay layout. Lorem ipsum is also featured on Joomla!, Google Docs, and
WordPress web content managers. Microsoft Word 2007, 2010, 2013 and 2016 have a
Lorem ipsum feature.</p>

<hr/>

<h1>Page Title h1</h1>
<h2>Headline h2</h2>
<h3>Subheading h3</h3>
<h4>Reserved h4</h4>
<h5>Reserved h5</h5>

<div class="footnotes"><h4>Footnotes h4</h4></div>
<h6>Notes h6</h6>

<hr/>

<pre>
/* Preformatted text sample */
.grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 180rem;
    background: url(@{StaticR img_grid_png}) top center repeat-y;
    z-index: 9999;
    transition: all 0.5s ease-out 1s;
}
</pre>

<hr/>

<h2>Buttons</h2>

<button class="bigbutton" type="submit">Log in</button>

<div class="footnotes">
<hr/>
<h4>Footnotes</h4>
<ol>
    <li id="fn1">Adams, Cecil (February 2001), <a href="#">What does the filler text "lorem ipsum" mean?</a>, The Straight Dope</li>
    <li id="fn2">Bray, Kurt (1995-10-05). <a href="#">"Subject: Re: Pig Latin
            Dialects".</a> Georgetown University.</li>
</div>
