---
title: About
layout: default
permalink: /about/
---

<h1>About</h1>

<div id="tilt"></div>

<p>We're building a sustainable funding platform for freely-licensed works.
Our innovative matching pledge creates a network effect where we all work
together to support these public goods.</p>
<ul>
    <li><a href="{{ site.wiki_url }}/about/intro">Illustrated intro</a></li>
    <li><a href="{{ site.wiki_url }}/about">Longer explanation</a></li>
    <li><a href="{{ site.wiki_url }}/about/faq">FAQ</a></li>
</ul>
<p>This website is itself a Snowdrift.coop project.</p>

<!-- <h2>Our <a href="https://snowdrift.tilt.com">launch fund-drive</a> succeeded!</h2>
<p>Thanks to all our <a
    href="{{ site.url }}/sponsors">sponsors</a>! The campaign video
remains a good introduction:</p>
<video poster="{{ site.wiki_url }}/assets/fund-drive/fund-drive-intro-still.png" controls>
    <source type="video/mp4" src="https://archive.org/download/snowdrift-fund-drive-intro/snowdrift-fund-drive-intro.mp4">
    <source type="video/ogg" src="https://archive.org/download/snowdrift-fund-drive-intro/snowdrift-fund-drive-intro.ogv">
</video>
<p>Despite the fund-drive, we're on a tight budget. You can still <a
    href="{{ site.url }}/donate">donate</a> to help us launch
sooner.</p> -->

<h2>News and Activity</h2>
<p>We're continually working to get Snowdrift.coop going. Keep up with our
activity:</p>
<ul>
    <li><a href="https://git.snowdrift.coop/sd/snowdrift#tab-activity">Code activity at git.snowdrift.coop</a></li>
    <li>Sign up for our <a href="https://lists.snowdrift.coop">email lists</a></li>
    <li>Live chat at <a href="https://kiwiirc.com/client/irc.freenode.net/#snowdrift">#snowdrift IRC channel</a></li>
    <li>Follow us on GNU Social (or Twitter) <a href="https://quitter.se/snowdriftcoop">@snowdriftcoop</a></li>
</ul>

<h2>Volunteer</h2>
<p>Our core team is supported by a growing community. <a href="{{ site.wiki_url }}/community/how-to-help">Come help</a> with site development, design, community organizing, or other tasks.</p>

<h2>Get your project listed</h2>
<p>We're still in preliminary stages, but if your <a
    href="{{ site.wiki_url }}/project-reqs">free/libre/open</a>
project needs funding, please contact&nbsp;us to discuss whether you are a good
fit for our early testing and launch.</p>
