---
title: Dashboard-history
layout: default
permalink: /dashboard-history/
---

<h1>Dashboard <span>you are matching a crowd of 7321.</span></h1>

<!-- tab navigation -->
<ul class="tabs">
    <li><a href="{{site.url}}/dashboard">Matches</a></li>
    <li class="selected">Payment History</li>
    <li><a href="{{site.url}}/dashboard-payment">Payment System</a></li>
</ul>

<div id="tilt"></div>

<div class="box-month">
    <h1>JULY 2016</h1>
    <ul>
        <li>
            <a href="/p/snowdrift">
                <span class="name">Snowdrift.coop</span>
                <span class="crowd">10473</span>
                <span class="match">$10,47</span>
            </a>
        </li>
        <li class="fee">
            <span>Payment processing fee: Stripe</span>
            <span>$0,64</span>
        </li>
    </ul>
    <div class="total">
        <span>$12,46</span>
        <!-- control limit bar with width inline style -->
        <div class="limit-bar" style="width: 63%"> </div>
        <em>Limit was $20</em>
    </div>
</div>

<div class="box-month-empty">
    <h1>JUNE 2016</h1>
    <p>You did not crowdmatch anything this month.</p>
</div>


<div class="box-month">
    <h1>MAY 2016</h1>
    <ul>
        <li>
            <a href="/p/snowdrift">
                <span class="name">Snowdrift.coop</span>
                <span class="crowd">6543</span>
                <span class="match">$6,54</span>
            </a>
        </li>
        <li>
            <div class="box-month">
                <h1>APRIL 2016 carry over</h1>
                <ul>
                    <li>
                        <a href="/p/snowdrift">
                            <span class="name">Snowdrift.coop</span>
                            <span class="crowd">1543</span>
                            <span class="match">$1,54</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="box-month">
                <h1>MARCH 2016 carry over</h1>
                <ul>
                    <li>
                        <a href="/p/snowdrift">
                            <span class="name">Snowdrift.coop</span>
                            <span class="crowd">1284</span>
                            <span class="match">$1,28</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="fee">
            <span>Payment processing fee: Stripe</span>
            <span>$0,66</span>
        </li>
    </ul>
    <div class="total">
        <span>$9,98</span>
        <!-- control limit bar with width inline style -->
        <div class="limit-bar" style="width: 99%"> </div>
        <em>Limit was $10</em>
    </div>
</div>

<div class="box-month-carryover">
    <h1>APRIL 2016 carry over</h1>
    <p>APRIL 2016 spending got <strong>carried over to MAY 2016</strong> because the payment processing fee would make up more than 10%.
    </p>
</div>

<div class="box-month-carryover">
    <h1>MARCH 2016 carry over</h1>
    <p>MARCH 2016 spending got <strong>carried over to MARCH 2016</strong> because the payment processing fee would make up more than 10%.
    </p>
</div>
