---
title: Dashboard-payment
layout: default
permalink: /dashboard-payment/
---

<h1>Dashboard <span>you are matching a crowd of 7321.</span></h1>

<!-- tab navigation -->
<ul class="tabs">
    <li><a href="{{site.url}}/dashboard">Matches</a></li>
    <li><a href="{{site.url}}/dashboard-history">Payment History</a></li>
    <li class="selected">Payment System</li>
</ul>

<div id="tilt"></div>

<div class="note-danger">
    <h2>Ouch!</h2>
    <p>We need to have access to a payment processor to let you cowdfund other projects.</p>
</div>

<div class="box-thin off">
    <h1>Stripe</h1>
    <div class="status">Not set up.</div>
    <a href="#" class="setup">setup Stripe</a>
</div>

<div class="box-thin on">
    <h1>Dwolla</h1>
    <div class="status">All set up!</div>
    <a href="#" class="setup">setup Stripe</a>
</div>
