---
title: Dashboard
layout: default
permalink: /dashboard/
---


<h1>Dashboard <span>you are matching a crowd of 7321.</span></h1>

<!-- tab navigation -->
<ul class="tabs">
    <li class="selected">Matches</li>
    <li><a href="{{site.url}}/dashboard-history">Payment History</a></li>
    <li><a href="{{site.url}}/dashboard-payment">Payment System</a></li>
</ul>

<div id="tilt"></div>

<!-- matches -->
<div class="box-limit">
    <h1>Monthly Limit</h1>
    <span>
        <a href="#" class="set-limit">change limit</a>
    </span>
    <p>You will never spend more than this monthly limit. Projects that don't fit into your limit get dropped.</p>
</div>

<!-- indicating the limit -->
<div class="limit-indicator">
    <span>$10</span>
</div>

<!-- drawing the bar -->
<div class="bar">
    <span style="width: 73.8%"> </span>
</div>

<!-- indicating the current value -->
<div class="current-indicator">
    <span style="left: 73.8%">$7,38</span>
</div>


<div class="box-month current">
    <h1>JULY 2016</h1>
    <ul>
        <li>
            <a href="/p/snowdrift">
                <span class="name">Snowdrift.coop</span>
                <span class="crowd">6742</span>
                <span class="match">$6,74</span>
            </a>
        </li>
        <li class="fee">
            <span>Payment processing fee: Stripe</span>
            <span>$0,64</span>
        </li>
    </ul>

    <div class="note-warning">
        <a href="#" class="close">x</a>
        <h2>Dropped!</h2>
        <p>The following project does not fit into your current limit:</p>
        <ul>
            <li>
                <a href="/p/snowdrift">
                    <span class="name">Snowdrift.coop</span>
                    <span class="crowd">16742</span>
                    <span class="match">$16,74</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="total">
        <span>$7,38</span>
        <!-- control limit bar with width inline style -->
        <!-- <div class="limit-bar" style="width: 63%"> </div>
        <em>Limit was $20</em> -->
    </div>
</div>

<a href="/how-it-works" class="how-it-works">How does this work?</a>
