---
title: Donate
layout: default
permalink: /donate/
---

<h1>Donating to Snowdrift.coop</h1>

<div id="tilt"></div>

<p>Ironically, we need donations today to help us build a better fundraising
system for the future. Please donate today and help us continue our work.
Additionally or alternatively, please consider
<a href="#">volunteering</a>.</p>

<h2>Thank-you bonus options</h2>
<ul>
    <li>All donors may (if they choose) be listed among our official
        <a href="{{ site.url }}/sponsors">launch sponsors</a></li>
    <li>donate $12+ to get a
        <a href="{{ site.url }}/merchandise#stickers">sticker</a></li>
    <li>donate $25+ and get a $5 gift card to the working system, once launched</li>
    <li>donate $40+ to be honored as a commit sponsor in the code</li>
    <li>donate $100+ for a
        <a href="{{ site.url }}/merchandise#t-shirts">t-shirt</a></li>
    <li>at $500+ we will list you as a key sponsor</li>
</ul>
<div class="donate-option" id="osi-donate"></div>

<h2>Tax deductable donations under 501(c)(3)</h2>
<p>Snowdrift.coop is incorporated as a Michigan non-profit cooperative but does
not currently have independent federal tax-exempt status. However, you can
donate under 501(c)(3) to the
<a href="http://opensource.org">Open Source Initiative</a>
specifying that they use the funds to support us, as we are now one of their
incubator projects. Please contact&nbsp;us to get details for this process.</p>
<img id="osi-donate-logo" src="{{ site.url }}/static/img/external/osi.png?etag=r22ck9i7">
<p>Note: As the OSI takes a modest administrative fee, it makes sense to donate
directly to us if you do not need 501(c)(3) terms.</p>

<h2>Direct donations</h2>
<p>The following options offer easy ways to donate directly to us. Such donations
are not tax-deductible.</p>

<div class="donate-option" id="paypal-donate">
    <img alt="Paypal" src="{{ site.url }}/static/img/external/PayPal_logo.gif?etag=SGmgMyAT">
    <form id="paypal-button" abframeid="iframe.0.4323007988200692" abineguid="E620BEBBFF4F4B1695F2E9204A329253" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden" value="_s-xclick">
        <input name="hosted_button_id" type="hidden" value="M24Z4DFEW4SQL">
        <input alt="PayPal donation option" name="submit" src="{{ site.url }}/static/img/external/paypal-donate.gif?etag=HWGiiGVx" type="image">
    </form>
    <p id="avoid-paypal-fees">Note: the convenient button above works with or
    without a Paypal account, but it costs us a 2.9% + $0.30 fee. To skip the
    fee, log-in to Paypal and send funds to aaron@snowdrift.coop funded by your
    bank or Paypal balance (not by credit card or paypal credit) and marked as
    a gift.</p>
</div>

<div class="donate-option" id="dwolla-donate">
    <a href="https://www.dwolla.com/hub/snowdrift">
        <img alt="Donate with Dwolla"
        src="{{ site.url }}/static/img/external/dwolla.png?etag=MHARXSXi"></a>
    <p>Dwolla charges no fees but is U.S.-only and requires set up with a bank
account.</p>
</div>

<div class="donate-option" id="bitcoin-donate">
    <img alt="Bitcoin" src="{{ site.url }}/static/img/external/Bitcoin.png?etag=QAI29JGa">
    <pre>-----BEGIN PGP SIGNED MESSAGE-----
    Hash: SHA256<br>
    Please use this address to publicly contribute to Snowdrift.coop:
    1Bty8tCJDYGK2f5v5g71oLfL2qPTNvsDmB<br>
    We prefer you use the above address to help us with transparency, but if
    you would like us to generate an address specifically for your payment
    we will do so on request.<br>
    If you would like to be acknowledged or receive rewards, send us a
    message identifying yourself signed with the address you used to pay.<br>
    -----BEGIN PGP SIGNATURE-----
    Version: GnuPG v1<br>
    iF4EAREIAAYFAlSOQskACgkQuHM2ODJ01/L2fQEApnLrKteMemNbVBFpsfbKu+Ea
    NYxSl4UfcZw8V0U5gwQBAJspPE1wRz89ed9RtsC11osgZdD47NZrhCAHR2PzlMD/
    =lB8a
    -----END PGP SIGNATURE-----</pre>
</div>

<hr>
<div class="thank-you">Thank you for your support!</div>
