---
title: How it works
layout: default
permalink: /how-it-works/
---

<h1>How it works</h2>

<!-- the TILT -->
<div id="tilt"></div>

<img class="matching" src="{{site.url}}/static/img/how-it-works/intro1.png"/>
<div class="intro">
    <p class="intro-match">Every supporter matches every other. Crowdmatching
    pays projects monthly.</p>
    <p class="intro-limit">You decide where to stop. We drop your match when
    you hit your limit.</p>
</div>
<img class="limit" src="{{site.url}}/static/img/how-it-works/intro2.png"/>
<a class="learn-more" href="https://wiki.snowdrift.coop/about/intro">Learn more</a>

<button class="smlbutton" type="submit">sign up!</button>
