---
title: Privacy Policy
layout: default
permalink: /privacy/
---

<h1 id="snowdrift.coop-privacy-policy">Snowdrift.coop Privacy Policy</h1>

<div id="tilt"></div>

<em class="version">Version 0.3 effective August 2, 2016</em>

<p><strong>Snowdrift.coop is dedicated to maintaining the utmost respect for user
privacy.</strong>
Although technology makes private information easy to collect, we choose to
collect it
<em>only</em>
when deemed necessary.</p>
<h2 id="policy-highlights">Policy highlights:</h2>
<ul><li>Snowdrift.coop uses cookies to keep your account logged-in, but we do not
otherwise track you.</li>
<li>Anyone may anonymously view the site, but you must register an account to
edit a wiki, participate in discussions, or pledge as a patron. Your
account maintains a history of transactions such as which projects you have
supported.</li>
<li>You can unsubscribe from non-essential email updates at any time.</li>
<li>Snowdrift.coop uses third-party payment providers. When using these
services, you should check their independent privacy policies.</li>
<li>No financial information (such as credit card numbers) is collected,
retained, or used by Snowdrift.coop.</li>
</ul>
<h2 id="policy-in-full">Policy in full</h2>
<h3 id="personal-information">Personal information</h3>
<p>We consider "personal information" to mean either directly
identifiable information (such as your name or email address) or several
pieces of information that in combination may directly identify you, even if
each piece individually does not.</p>
<p>Also, if we store personal information with other information, we consider
the combination to be personal.</p>
<h3 id="information-collection">Information collection</h3>
<p>We collect information about you when:</p>
<ol><li>You give it to us directly (such as through a form when registering for
the site);</li>
<li>We collect it automatically (such as your IP address when your browser
makes requests to our web servers);</li>
<li>Someone else tells us something about you (such as when a payment
provider shares your email address after you make a deposit); or</li>
<li>We perform analysis on aggregated user information (such as analyzing
overall geographic distribution based on IP address).</li>
</ol>
<ul><li>Snowdrift.coop uses cookies to identify visitors and save login settings.
<strong>We do not use cookies for other tracking purposes nor do we retain them
long-term.</strong>
</li>
<li>When you sign up with us, your email address is required. You can
browse Snowdrift.coop without logging in, but you must register an
account in order to participate in certain editing or discussions or to
donate to a project.</li>
<li>We collect only basic server log data (browser ID, IP address, referring
site, and time) and make no attempt to connect that with account
information.
<strong>All analytics processing is done in-house, not by third-party contractors</strong>
. We do not store server logs any longer than necessary and we destroy old
information.</li>
<li>If you are a team leader who submits a project to Snowdrift.coop, we will
ask for detailed information about your project that may be displayed
publicly, unless otherwise noted. In order to validate identities and
manage transfers, we ask for real names and addresses for all team members
who receive funds.</li>
<li>This policy does not cover interactions with projects outside the
Snowdrift.coop system. External project websites and other systems may have
their own privacy policies.
<a class="footnoteRef" href="#fn1" id="fnref1"><sup>1</sup>
</a>
</li>
</ul>
<h3 id="what-we-do-with-your-info">What we do with your info</h3>
<div class="figure"><img src="{{ site.url }}/static/img/mimi-eunice-nonprofit-junkmail.png">
</div>
<p><strong>We use your information only in the manner to which you consent.</strong>
</p>
<ul><li>We may use your email address to inform you of administrative messages from
Snowdrift.coop (such as notices of updates to our Terms of Use agreement).
You may
<em>elect</em>
to receive additional communications from us, and if you do, you can then
opt-out from receiving them by following the “unsubscribe” instructions in
any such communication.</li>
<li>If you edit a wiki page or create other content in the Snowdrift.coop, your
username will be displayed publicly.</li>
<li>You may
<em>optionally</em>
fill in details of your public user profile, such as weblinks, contact
information (including real name), and profile picture. These will be
displayed publicly.</li>
<li>When you donate to a project, we sign your receipt with the username
associated with your account.</li>
<li>We maintain a history of your transactions, but Snowdrift.coop does not
directly process payment information. When you donate to a project, the
information that you give to one of our
<a href="{{ site.wiki_url }}/market-research/payment-services">authorized payment providers</a>
is governed by that provider’s privacy policy. We strive to identify and
work with only the most ethically sound providers, but we do not have
direct control over their policies.</li>
</ul>
<h3 id="when-we-share-your-info">When we share your info</h3>
<p><strong>We do not sell or otherwise share your info with any third-party not
involved directly in our operations.</strong>
</p>
<p>Snowdrift.coop is an open organization, and we may publish non-personal
aggregated information that we think will help foster an open web. Whenever
we publish information about our users, we'll remove anything private that we
believe might identify you.</p>
<p>If we share your personal information, we only share it with employees,
contractors and service providers who have contractually promised to handle
or use the data only in ways that we approve. If our corporate structure or
status changes (e.g., if we restructure, are acquired, or go bankrupt), we
will give all users a chance to get private information out of our systems
before we pass them on to a successor or affiliate.</p>
<ul><li>When you support a project, we notify the project team of your username and
the number of shares pledged. This helps facilitate interactions between
you and the project.</li>
<li>We share non-personal aggregated statistics with projects on the site usage
of their supporters. We provide such statistics as a distribution of
numbers not tied to an email address, unique ID, or other identifiable
piece of information.</li>
</ul>
<h3 id="storage-and-protection-of-data">Storage and protection of data</h3>
<p><strong>We implement physical, policy, and technical security measure to protect
your information.</strong>
We take steps to make sure that anyone who sees your personal information
(such as an authorized employee or contractor) has a good reason, sees only
as much as they absolutely need to, and is only able to do
Snowdrift.coop-approved things with your data.</p>
<p>Despite our efforts, we can't guarantee that malicious agents will never
break in and access your data. If we find out about a security breach, we'll
make concerted efforts to let you know so that you can take appropriate
protective steps. We only keep information as long as we need to do the
things we collected it for. Once we don't need it any more, we'll destroy it
unless we are required by law to keep it longer.</p>
<p>You are always entitled to see and correct the private information we have
about you. Please see the contact information below if you wish to do so. If
you delete your account, we will retain only as much information as we need
for our accounting records and destroy the rest.</p>
<h3 id="legal-process">Legal process</h3>
<p>When a government agency or civil litigant asks for your personal info, we'll
only give it to them if we have a good faith belief that:</p>
<ul><li>the law requires us to, or</li>
<li>it is reasonably necessary to do so to protect the rights, property, or
safety of you, our other users, Snowdrift.coop, or the public.</li>
</ul>
<p>We follow the law whenever we receive requests about you and we'll notify you
any time we are asked to hand over your personal info like this unless we're
legally prohibited from doing so, or circumstances require otherwise. Nothing
in this policy is intended to limit any legal defenses or objections that you
may have to a third party's request to disclose your information.</p>
<h3 id="policy-changes-and-contact-information">Policy changes and contact information</h3>
<p>We may sometimes change our privacy policies. When we do, we'll post a notice
about the change on Snowdrift.coop and email our users. During our initial
beta period, the privacy policy may be subject to change without notice,
although we welcome public feedback. Once our site is in stable operating
status, we will post any proposed changes for a 30-day comment period before
they become effective (3 days for changes required purely for legal or
administrative reasons).</p>
<p>If you want to make a correction to your information, or you have any
questions or comments about our privacy policies, please
<a href="/about">contact us<a>.</a>
</p>
<hr />
<p><em>The Snowdrift.coop Privacy Policy is adapted from the
<a href="https://marketplace.firefox.com/privacy-policy">Firefox Marketplace Privacy Policy</a>,</a>
which is licensed by
<a href="https://www.mozilla.org/en-US/">the Mozilla Corporation</a>
under the
<a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share-Alike License v3.0<a>.</a>
The Snowdrift.coop Privacy Policy is made available by us in its entirety
under
<a href="http://creativecommons.org/licenses/by-sa/4.0/">version 4.0 of the same CC-BY-SA license</a>.</a>
</em>
</p>
<div class="footnotes"><hr />
<h4>Footnotes</h4>
<ol><li id="fn1">We do ask projects to summarize whether their external policies deviate
substantially from our standards; that way, any issues may be considered
when users choose which projects to support.<a href="#fnref1">↩</a>
</li>
</ol>
</div>
