---
title: Snowdrift.coop
layout: default
permalink: /p/snowdrift/
---

<!-- Project Cover -->
<div class="cover">
    <img src="{{site.url}}/static/img/project/bg.jpg">
</div>

<!-- Project Title -->
<h1>
    <img class="icon" src="{{site.url}}/static/img/project/project-icon.png">{{site.data.project.title}}
</h1>

<!-- Project Stats -->
<div class="stats">
    <div class="crowd" title="amount of patrons for this project">
        <h2>{{site.data.project.matching_crowd}}</h2>
        <p>crowd</p>
    </div>
    <div class="value" title="amount of this months contribution per patron">
        <h2>{{site.data.project.current_match}}</h2>
        <p>match</p>
    </div>
    <div class="payout" title="total amount this project will receive this month">
        <h2>{{site.data.project.monthly_payout}}</h2>
        <p>payout</p>
    </div>
</div>

<!-- Project Form -->
<form class="match" method="post">
    <div class="a"></div>
    {{"match" | bigbutton}}
    <div class="b"></div>
    <a href="/how-it-works">How does this work?</a>
</form>

<!-- Project Description -->
<p class="description">{{site.data.project.description}}</p>

<!-- Project Updates -->
<h3>Updates</h3>

{% for post in site.data.project.updates %}
<article class="section updates">
    <time datetime="{{post.date}}">
        <div class="month">{{post.date | date: "%b"}}</div>
        <div class="day">{{post.date | date: "%d"}}</div>
        <div class="year">{{post.date | date: "%Y"}}</div>
    </time>
    <div class="post">
        <h4>{{post.title}}</h4>
        <p>{{post.content}}</p>
    </div>
</article>
{% endfor %}

<article class="section updates">
    <time datetime="2-2-2016">
        <div class="month">2</div>
        <div class="day">2</div>
        <div class="year">2016</div>

    </time>
    <div class="post">
        <h4>Hello Snowdrift.coop Community, I am your "new" Director</h4>
        <p>Hi, my name is William Hale, but feel free to call me Salt. At the beginning of this year, I accepted the role of Community Director for Snowdrift.coop. After spending the last five months traveling abroad, I have finally found time to write this post explaining what the title means and what my future goals are.</p>
    </div>
</article>
<article class="section updates">
    <time datetime="1-1-2016">
        <div class="month">1</div>
        <div class="day">1</div>
        <div class="year">2015</div>
    </time>
    <div class="post">
        <h4>Our <a href="https://snowdrift.tilt.com">launch fund-drive</a> succeeded!</h4>
        <p>Thanks to all our <a href="{{ site.url }}/sponsors">sponsors</a>! The campaign video remains a good introduction:</p>
        <video poster="{{ site.wiki_url }}/assets/fund-drive/fund-drive-intro-still.png" controls>
            <source type="video/mp4" src="https://archive.org/download/snowdrift-fund-drive-intro/snowdrift-fund-drive-intro.mp4">
            <source type="video/ogg" src="https://archive.org/download/snowdrift-fund-drive-intro/snowdrift-fund-drive-intro.ogv">
        </video>
        <p>Despite the fund-drive, we're on a tight budget. You can still <a
            href="{{ site.url }}/donate">donate</a> to help us launch
        sooner.</p>
    </div>
</article>
