---
title: Sponsors
layout: default
permalink: /sponsors/
---

<h1>Snowdrift.coop Launch Sponsors</h1>

<div id="tilt"></div>

<p>We especially thank the following sponsors for their generous support of
Snowdrift.coop initial development. Most donated during our formal <a
href="https://snowdrift.tilt.com/">fund-drive</a>, but we have and will
continue to accept traditional donations until we fully launch. <strong>See our
    <a href="https://dev.snowdrift.coop/donate">donation page</a> to become a
    launch sponsor and join the list below.</strong></p>

<h2>Key sponsors</h2>
<ul class="key-sponsors">
    <li><a href="https://www.alephobjects.com/">Aleph Objects, Inc.</a></li>
    <li>Denver Bohling</li>
    <li>Philip Horger</li>
    <li>jamessan</li>
    <li>Tanu Kaskinen</li>
    <li><a href="http://linuxfund.org/">Linux Fund</a></li>
    <li>Pat McGee</li>
    <li>Tomasz Muras</li>
    <li>Paul Phillips</li>
    <li>Kate &amp; Ira Pohl</li>
</ul>

<hr/>

<h2>General pre-launch donors</h2>
<ul class="prelaunch-sponsors">
    <li>Mateusz A.</li>
    <li>Carlos Aguayo</li>
    <li>Blaise Alleyne</li>
    <li>Chris Aniszczyk</li>
    <li>Jorge Aranda</li>
    <li>Pierre Arlais, Bearstech</li>
    <li>Christopher Armstrong</li>
    <li>Xavier Antoviaque, OpenCraft</li>
    <li>Artyom</li>
    <li>Greg Austic</li>
    <li>Autious</li>
    <li>Kenneth Ballenegger</li>
    <li>Moritz Bartl</li>
    <li>Brennen Bearnes</li>
    <li>Marcis Berzins</li>
    <li>Michael Baldry</li>
    <li>Nick Barry</li>
    <li>Ingo Blechschmidt</li>
    <li>Eduard Bopp</li>
    <li>Nathan Bouscal</li>
    <li>Jeremy Bowers</li>
    <li>Bret Comnes</li>
    <li>Tim Bunce</li>
    <li>Brit Butler</li>
    <li>Lee Butts</li>
    <li>Javier Merino Cacho</li>
    <li>Scott Calvert &amp; family</li>
    <li>Mike Chaberski</li>
    <li>Jacob Chapman</li>
    <li>Chato</li>
    <li>Paul Chiusano</li>
    <li>Jesper Cockx</li>
    <li>CommonKarma.org</li>
    <li>Antoine Comte</li>
    <li>Noah Cornwell</li>
    <li>Christopher Cummins</li>
    <li>Daniel</li>
    <li>Debian KDE</li>
    <li>Jeroen Dekkers</li>
    <li>Holger Dell</li>
    <li>Sebastian Dröge</li>
    <li><a href="http://andrewdurham.com/">Andrew Durham</a></li>
    <li>Christoph Egger</li>
    <li>Carol Ann Emerick</li>
    <li>Victor Engmark</li>
    <li>Eric Entzel</li>
    <li>Kent Fenwick</li>
    <li>John Feras</li>
    <li>Karl Fogel / QuestionCopyright.org</li>
    <li><a href="http://fossetcon.org/">Fossetcon</a></li>
    <li>Christian Frank</li>
    <li>Craig Fratrik</li>
    <li>CrowdsourcingKC</li>
    <li><a href="https://thefnf.org/">The Free Network Foundation</a></li>
    <li>freespace</li>
    <li>FTL Software</li>
    <li>Curtis Gagliardi</li>
    <li>Luis Gasca</li>
    <li>Denver Gingerich</li>
    <li>Daniel Glassey</li>
    <li>Brook Heisler</li>
    <li>Raphaël Hertzog</li>
    <li>Joey Hess</li>
    <li>Joshua Hoblitt</li>
    <li>Claudio Hoffmann</li>
    <li>Thomas Hochstein</li>
    <li>Martin Höcker</li>
    <li>holdenweb</li>
    <li>Lance Holton</li>
    <li>hotzeplotz</li>
    <li>Antonin Houska</li>
    <li>Karl Ove Hufthammer</li>
    <li>Eskild Hustvedt</li>
    <li>Iko</li>
    <li>Arya Irani</li>
    <li>Geoffrey Irving</li>
    <li>Seth de l'Isle</li>
    <li>Ethan Johnson</li>
    <li>H. Ryan Jones</li>
    <li>Ollie Jones</li>
    <li>Michiel de Jong</li>
    <li>Hasen el Judy | حسن الجودي | ハセン</li>
    <li>Alan Keefer</li>
    <li>Ian Kelling</li>
    <li>Andrew Klofas</li>
    <li>Robert Klotzner</li>
    <li>Fabrice Knevez</li>
    <li>Georg Kolling</li>
    <li>Eric Kow</li>
    <li>Alanna Krause</li>
    <li>Ramana Kumar</li>
    <li>Michael F. Lamb</li>
    <li>Daniel Landau</li>
    <li>Brianna Laugher</li>
    <li>Jean-Pierre Laurin</li>
    <li>Alexander Lang</li>
    <li>Kirsten Larsen</li>
    <li>Matt Lee</li>
    <li>Nathan Lee</li>
    <li>Randall Leeds</li>
    <li>Charles Lehner</li>
    <li>R. Diaz de Leon</li>
    <li>Federico Leva</li>
    <li>Aaron Levin</li>
    <li>Carl Lewis</li>
    <li>John A. Lewis</li>
    <li>Katrin Leinweber</li>
    <li>Greg Lindahl</li>
    <li>Thorbjørn Lindeijer</li>
    <li>Mike Linksvayer</li>
    <li>Yun-Mei Lo</li>
    <li>Brendan Long</li>
    <li>Hans Lub</li>
    <li>DJ Madeira</li>
    <li>Magan Adam</li>
    <li>Patrick Masson</li>
    <li>Martin Mauch</li>
    <li>Francois Marier</li>
    <li>Sean McGregor</li>
    <li>Ewen McNeill</li>
    <li>Jan Mechtel</li>
    <li>Simon Michael</li>
    <li>Florin Mihaila</li>
    <li>Matthew Miller (mattdm)</li>
    <li>Scott Milliken</li>
    <li>Havard Moen</li>
    <li>Ramakrishnan Muthukrishnan</li>
    <li>Lauro Gripa Neto</li>
    <li>Perry Nguyen</li>
    <li>Nmlgc</li>
    <li>Lachlan O'Dea</li>
    <li>Robert Orzanna</li>
    <li>Étienne Vallette d'Osia</li>
    <li>Tom Paluck</li>
    <li>Răzvan Panda</li>
    <li>Fabian Peters</li>
    <li>Quinlan "The Cobra" Pfiffer</li>
    <li>Karl Pietrzak</li>
    <li>Steve Phillips / elimisteve</li>
    <li>Pini</li>
    <li>Josh Poimboeuf</li>
    <li>Timotheus Pokorra</li>
    <li>Michał Politowski</li>
    <li>Shuwen Qian</li>
    <li>Aaron Quamme</li>
    <li>Lane Rasberry</li>
    <li>Olav Reinert</li>
    <li>Dan Revel</li>
    <li>Kevin Riggle</li>
    <li>Matt Ritter</li>
    <li>Florence Rosenbloom</li>
    <li>Sage Ross</li>
    <li><a href="http://www.roundware.org/">Roundware.org</a></li>
    <li>Hugo Roy (FSFE)</li>
    <li>Noé Rubinstein</li>
    <li>Michel S.</li>
    <li>Marc Saegesser</li>
    <li>Chris Sakkas, livinglibre.com</li>
    <li>Olli Savolainen</li>
    <li>Tobias Schachman</li>
    <li>Brian Schroeder</li>
    <li>Sean Seefried</li>
    <li>Paul Sexton</li>
    <li>Kendrick Shaw</li>
    <li>Howard Lewis Ship</li>
    <li>Juan Raphael Diaz Simões</li>
    <li>Brandon Skari</li>
    <li>Don Smith</li>
    <li>Leon P Smith</li>
    <li>Nick Smith</li>
    <li>Jim Snow</li>
    <li>Khaled Soliman</li>
    <li>Rodrigo Souto</li>
    <li>Adam Souzis</li>
    <li>Adam Spitz</li>
    <li>Charles Stanhope</li>
    <li>Stephen Starkey</li>
    <li>Startifact</li>
    <li>statuszer0</li>
    <li>Bob Steffes</li>
    <li>Hugh Stimson</li>
    <li>Morgan Stuart</li>
    <li>Simon Tegg</li>
    <li>Álvaro Tejero-Cantero</li>
    <li>Zachary Tellman</li>
    <li>Seth Tisue</li>
    <li>Frank Thomas</li>
    <li>Greg Tomei</li>
    <li>Kevin Turner</li>
    <li>Christian Uhl</li>
    <li>Vakranas</li>
    <li>Timothy Vollmer</li>
    <li>Wouter Vos</li>
    <li>Markus Vuorio (Maakuth)</li>
    <li>Tobias Gulbrandsen Waaler</li>
    <li>Albert Wavering</li>
    <li>Christopher Webber, GNU MediaGoblin</li>
    <li>Stephen Paul Weber (singpolyma)</li>
    <li>Patrick Weemeeuw</li>
    <li>David Whitman</li>
    <li>Kevin Wichmann</li>
    <li>Alex Willemsma</li>
    <li>Carl Witty</li>
    <li>Barry &amp; Devorah Wolf</li>
    <li>Nicolas Wormser</li>
    <li>Thomas Wrenn</li>
    <li>Daniel Yokomizo</li>
    <li>Brent Yorgey</li>
    <li>Philip Young</li>
    <li>Milan Zamazal</li>
    <li>Shafiq Akram Zakaria</li>
    <li>Massimo Zaniboni</li>
    <li>Jan Zernisch</li>
    <li>Jake Zieve</li>
    <li>Guido Zuidhof</li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
    <li><em>Anonymous</em></li>
</ul>
<!-- <div class="anon-sponsors">and 19 anonymous sponsors</div> -->
