---
title: Trademarks
layout: default
permalink: /trademarks/
---

<h1 id="snowdrift.coop-trademark-policy">Snowdrift.coop Trademark Policy</h1>

<div id="tilt"></div>

<em class="version">Version 0.3 – Effective December 16, 2015</em>

<p>We are committed to ensuring the clear and consistent use of our trademarks
and to protecting the rights of legitimate users.</p>

<p><strong>Snowdrift.coop reserves as trademarks:</strong><a class="footnoteRef" href="#fn1" id="fnref1"><sup>1</sup>
</a></p>

<ul>
    <li>The full name "Snowdrift.coop"</li>
    <li>The primary name "Snowdrift" when used in the context of online
fundraising, creative project support, and/or community building</li>
    <li>Our various identifying <a href="{{ site.wiki_url }}/design/design-guide#logo">logos</a></li>
</ul>

<p>This policy seeks to clarify and promote acceptable use including honest and
compliant commercial activity.</p>

<p>We prohibit any use of or reference to Snowdrift.coop trademarks that
involves false or misleading implications including any use not compliant
with the guidelines below or otherwise authorized in writing, any use in
false advertising, or use of misleadingly similar marks.</p>

<h2 id="uses-that-require-no-special-permission">Uses that require <em>no</em>
special permission</h2>

<ul>
    <li>Using one of our logos as a hyperlink<em>directly</em>
to Snowdrift.coop.</li>
    <li>Making true factual statements about Snowdrift.coop or communicating
truthfully that your project takes contributions via Snowdrift.coop.</li>
    <li>Identifying or describing Snowdrift.coop in articles, blog posts, etc.,
        under the <a
            href="https://en.wikipedia.org/wiki/Fair_use_%28U.S._trademark_law%29">"fair
            use" doctrine</a>.</li>
    <li>Describing or promoting your projects on Snowdrift.coop in a way that is
not misleading.</li>
    <li>Making Snowdrift.coop trademark merchandise for non-commercial usage.</li>
    <li>Making Snowdrift.coop trademark merchandise for commercial usage,
provided truthful and prominent portrayal to customers of your
affiliation, or lack thereof, with Snowdrift.coop and of what part of the
selling price, if any, will be donated to the Snowdrift.coop project.</li>
</ul>

<h2 id="uses-that-require-special-permission">Uses that <em>require</em>
special permission</h2>

<ul>
    <li>Using Snowdrift.coop trademarks, or confusingly similar marks, in any
        way that may suggest an affiliation with or endorsement by the
        Snowdrift project or community where no such affiliation or endorsement
    has been formally made.</li>
    <li>Using Snowdrift.coop trademarks in a company or organization name or as
        the name of a product or service or in domain name (even without
        commercial intent), or using Snowdrift.coop logos as part of another
    company's logos or branding.</li>
</ul>

<h2 id="best-practices-for-use">Best practices for use</h2>

<ul>
    <li>Avoid suggestion of affiliation, participation, or endorsement with
Snowdrift.coop if there is any question about the validity of that
connection.</li>
    <li>Prominently acknowledge our ownership of the trademark.<br />
Example wording:<br />
[TRADEMARK] is a (registered, if applicable) trademark of Snowdrift.coop.</li>
    <li>As appropriate, explicitly disclaim sponsorship, affiliation, or
endorsement by Snowdrift on your website and related materials.<br />
Example wording:<br />
X PROJECT is not affiliated with Snowdrift.coop.</li>
    <li>Italicize, bold, or underline Snowdrift.coop trademarks to distinguish
them from other words.</li>
    <li>Use the exact form of the Snowdrift.coop trademarks, with no
        subtractions or additions, following our guidelines for logo
        usage.</li>
    <li>Do not include the Snowdrift.coop trademarks in acronyms.</li>
    <li>Do not refer to Snowdrift.coop as simply "Snowdrift" except
casually where the full name has already been made clear in the immediate
context.<a class="footnoteRef" href="#fn2" id="fnref2"><sup>2</sup>
</a></li>
</ul>

<h2 id="seeking-permission">Seeking permission</h2>

<p>For any use not expressly permitted by this policy, to report any
unauthorized use, or for any clarification of this policy that may be
        necessary, please <a href="/about">contact us</a>. Please include any
                relevant information about the type and nature of the use and
                any relevant organizational affiliation(s).</p>
<hr />

<p><em>Like the rest of the site, The Snowdrift.coop Trademark Policy is
    licensed under <a
        href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
        Attribution/Share-Alike license (CC-BY-SA) v4.0</a>.  This policy may
    be periodically revised. Revisions will be dated and posted to
    Snowdrift.coop/trademarks.</em></p>

<div class="footnotes">
<hr />
<h4>Footnotes</h4>
<ol>
    <li id="fn1">Note that the <a
            href="{{ site.wiki_url }}/design/design-guide#mimi-eunice">Mimi
            &amp; Eunice</a> characters are <em>not</em> part of the
        Snowdrift.coop trademarks but are our adaptations of work by Nina Paley
        and licensed, like all the other non-trademarked parts of our site,
        under <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA
        4.0 International</a>.  <a href="#fnref1">↩</a> </li> <li
    id="fn2">Note: we formally use the name "Snowdrift" for the free/libre/open
    software that runs the Snowdrift.coop website.<a href="#fnref2">↩</a> </li>
</ol>
</div>
