---
title: Snowdrift.coop — Crowdmatching for Public Goods
layout: default
permalink: /
---
<div class="logo-big" alt="{{site.title}}"></div>

<!-- the TILT -->
<div id="tilt"></div>

<!-- placeholder (video) -->
<video poster="{{ site.url }}/static/video/00-fade_in.png" controls>
    <source type="video/mp4" src="{{ site.url }}/static/video/00-fade_in.m4v"></source>
</video>
<!-- <div class="video"></div> -->

<div class="section">
    <div class="col">
        <!-- placeholder (text) -->
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.  Lorem Ipsum has been the industry's standard
        <strong>dummy</strong> text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type</p>
    </div>
</div>

<div class="container-footer"></div>

<button class="smlbutton" type="submit">Sign up!</button>
